body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #343a40;
    text-align: center;
    margin-bottom: 40px;
}

#products ul, #prices ul {
    padding-left: 0;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #e9ecef;
}

#prices h2 {
    margin-top: 30px;
    text-align: center;
    color: #495057;
}

#prices ul {
    max-width: 600px;
    margin: 0 auto;
}

.list-group-item.active {
    background-color: #007bff;
    border-color: #007bff;
}
